/* CSS files add styling rules to your content */

html, body, svg{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.noodle{
  position: absolute;
  max-width: 40px;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.long{
  position: absolute;
  max-width: 40px;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sauce{
  position: absolute;
  width: 50px;
  height: 50px;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50px;
  animation: expand 2s;
  transform: scale(1);
  background-color: #d63031;
  z-index: -1;
}

.cheese{
  position: absolute;
  max-width: 40px;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.choices{
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
  z-index: 1000;
}

.select-wrapper{
  display: inline-block; 
  margin-left: 12px;
  margin-right: 12px;
}

.select{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #333333;
  cursor: pointer;
  padding: 10px;
  background-color: white;
}

.select-name{
  margin-top: 5px; 
}

#sauce-but{
  background-color: #d63031;
}

#tutorial{
  position: absolute;
  top: 50px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

@keyframes expand{
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
    position: fixed;
  }
  .choices{
    bottom: 30px; 
  }
}