/* CSS files add styling rules to your content */

html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.dvd-logo{
  position: absolute;
  width: 150px;
  background-color: red;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 45px;
  padding-bottom: 45px;
}

#controls{
  font-size: 32px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 50px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#amount-input{
  font-size: 36px;
  max-width: 85px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}